body {
	font-family:'Raleway';
}

.content {
	margin: 0 auto;
	width:960px;
	text-align:center;
}

h1, h2 {
	margin:0;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size:5em;
}

h2 {
	padding:10px;
	font-size:1.2em;
	font-weight:400;	
}

header {
	margin-bottom: 1em;
	padding:10px 0;
	font-size:1.8em;
}

.choose {
	width:60%;
	margin: 0 auto;
	background-color:blue;
}

.choose_brand, .choose_kwh {
	float:left;
	width:44%;
	margin:-1.2em 0 0 4%;
	background-color:red;
	padding:10px 0;
}

.result {
	clear:both;
	padding:10px 0;
	font-size:1.6em;
}

.result p {
	margin:0;
}

.output {
	font-weight:800;
}

input {
	padding:0;
	text-align:center;
	font-size:0.8em;
	font-weight:800;
}

select {
	font-size:0.8em;
	font-weight:800;
}